name: CI/CD Tests

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  documentation_build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Build docs
        run: tox -e docs
      - uses: actions/upload-artifact@v4
        with:
          name: DocumentationHTML
          path: docs/_build/html/
  tests_run:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python:
          - "3.10"
          - "3.11"
          - "3.12"
        include:
          - os: ubuntu-latest
            python: "3.8"
          - os: ubuntu-latest
            python: "3.9"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Project internals test build
        run: "tox -e py${{ matrix.python }}"
      - name: Project security test
        run: "tox -e safety"
      - name: Send coverage report to codeclimate
        continue-on-error: true
        uses: paambaati/codeclimate-action@v9.0.0
        with:
          coverageCommand: echo "Ignore rerun"
          coverageLocations: ${{github.workspace}}/coverage.xml:coverage.py
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
      - name: Send coverage report to codecov
        uses: codecov/codecov-action@v4
        with:
          env_vars: OS=${{ matrix.os }},PYTHON=${{ matrix.python }}
          file: ./coverage.xml
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
